<div class="audience-metrics">
    <h2>Audiences Metrics</h2>
    <div class="filter-buttons">
      <button (click)="loadMetricsData('ALL')" class="active">ALL</button>
      <button (click)="loadMetricsData('1M')">1M</button>
      <button (click)="loadMetricsData('6M')">6M</button>
      <button (click)="loadMetricsData('1Y')">1Y</button>
    </div>
    <div class="metrics">
      <div class="metric">
        <h3>{{ metrics.avg_Session }} <span class="increase">{{ metrics.avg_Session_Increase_Percentage }}% ↑</span></h3>
        <p>Avg. Session</p>
      </div>
      <div class="metric">
        <h3>{{ metrics.conversion_Rate }} <span class="increase">{{ metrics.conversion_Rate_Increase_Percentage }}% ↑</span></h3>
        <p>Conversion Rate</p>
      </div>
      <div class="metric">
        <h3>{{ formatDuration(metrics.avg_Session_Duration_Seconds) }} <span class="increase">{{ metrics.avg_Session_Duration_Increase_Percentage }}% ↑</span></h3>
        <p>Avg. Session Duration</p>
      </div>
    </div>
    <div class="chart-container">
      <canvas id="audienceChart"></canvas>
    </div>
  </div>