/* Wrapper for the entire view */
.login-form-wrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Background image styling */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Place the image behind the content */
}

/* Styling for the login form container */
.login-form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(43, 140, 189, 0.85); /* Use the theme color with transparency */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  text-align: left;
}

/* Logo styling */
.logo {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff; /* White color for contrast */
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for a 3D effect */
  text-align: center;
}

/* Styling for the card wrapper */
.card-wrapper {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
}

/* Align card title to the center and style it */
.card-title {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Form label styling */
.form-label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 8px;
  display: block;
  text-align: left;
}

/* Input fields styling */
.form-control {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #333333;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 10px;
}

/* Password input group styling */
.password-input-group {
  position: relative;
}

/* Password toggle button styling */
.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666666;
}

/* Submit button styling */
.btn-primary {
  background-color: #c9b680; /* Change button color to a vibrant yellow */
  border-color: #c9b680;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 0;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #e09a00; /* Darker shade on hover */
}
