<header>
    <div class="left">
      <button class="menu-toggle" (click)="onToggleSidebar()">☰</button>
      <!-- <span>Hi, {{ userName }} 👋</span> -->
    </div>
    <div class="right">
      
        <div class="profile-dropdown" [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </div>
      <mat-menu #menu="matMenu">
     
        <button mat-menu-item (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </header>