<div class="sidebar" [class.closed]="!isOpen">
    <h2 class="logo">DynamiCharts</h2>
    <nav>
      <ul>
        <li><a routerLink="/user/dashboard" routerLinkActive="active">
          <img src="../../../assets/Pi7_dashboard_16596694.png" alt="Dashboard" class="dash-img">
          <i class="bi bi-grid"></i> <span>Dashboard</span>
          
        </a></li>
        
        <li ngbDropdown>
          <a href (click)="false" ngbDropdownToggle>
            <img src="../../../assets/bar-chart_5932879 (1).png" alt="Dashboard" class="dash-img">

            <i class="bi bi-people"></i> <span>Charts</span>
          </a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/user/revenue">Revenue</button>
            <button ngbDropdownItem routerLink="/user/audience-metrics">audience-metrics</button>
            <button ngbDropdownItem routerLink="/user/sessions-by-countries">sessions-by-countries</button>
            <button ngbDropdownItem routerLink="/user/balance-overview">balance-overview</button>
            <button ngbDropdownItem routerLink="/user/sales-by-locations">sales-by-locations</button>
            <button ngbDropdownItem routerLink="/user/store-visits-by-source">store-visits-by-source</button>
            <!-- Add other user management options here -->
          </div>
        </li>
        <li><a routerLink="/user/add-data" routerLinkActive="active">
          <img src="../../../assets/Pi7_form_11282015.png" alt="Dashboard" class="dash-img">
          <i class="bi bi-grid"></i> <span>Add Order</span>
        </a></li>
      </ul>
    </nav>
  </div>