/* balance-overview.component.css */
.balance-overview {
    background-color: #1e2130;
    color: white;
    padding: 20px;
    border-radius: 8px;

    margin-left: 25% ;
    margin-top: 12%;
    width: 50%;
    margin-bottom: 3%;
    position: relative;
  }
  
  .sort-by {
    margin-bottom: 20px;
  }
  
  .summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .revenue {
    color: #4bc0c0;
  }
  
  .expenses {
    color: #ff6384;
  }
  
  .profit-ratio {
    color: #36a2eb;
  }
  
  select {
    background-color: #2c3144;
    color: #8b92a9;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
  }
